/* CSS Document */

* {
    margin: 0;
}

/*---------------------------menu------------------------*/
header {
    block-size: 550px;
}

nav { /*Menu*/
    position: fixed;
    inset-block-start: -100px;
    inline-size: 110%;
    block-size: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    background-color: #252753;
    flex-direction: row;
    transform:rotate(2deg);
}

nav img {
    margin-block-start: 90%;
    padding-inline-start: 20%;
    max-inline-size: 100%;
    block-size: auto;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10%;
    padding: 0px 40px; /* giver luft omkring teksten */
    gap: 40px;

    background-color: #252753; /* blå baggrund */
}


.menu li, .menu li a {
    color: #E7C305;
    font-family: guyot-sans, sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    inline-size: auto;
    block-size: auto;
    margin-block-start: 15%;
    display: block; /* ikke flex */
    padding: 0;
    transform:rotate(-2deg);
}

.menu-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 60px;
    block-size: 100%;
}

.menu-icon {/*Burger Menu ikon udsene*/
    display: block;
    background-color: #E7C305;
    block-size: 4px;
    inline-size: 30px;
    position: relative; /* Tilføjet position: relative */
    border-radius: 2px;
    transition: all 0.3s ease; /* Opdateret transition */
}

.menu-icon::before,.menu-icon::after { /*Burger Menu ikon udsene, top og bund*/
    content: "";
    display: block;
    background-color: #E7C305;
    block-size: 4px;
    inline-size: 30px;
    position: absolute;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.menu-icon::before { /*Burger Menu ikon top plasering*/
    margin-block-start: -8px;
}

.menu-icon::after { /*Burger Menu ikon udsene bund*/
    margin-block-start: 8px;
}

#menu-activate:checked + .menu-box .menu-icon::before {
    margin-block-start: 0;
    transform: rotate(45deg);
}

#menu-activate:checked + .menu-box .menu-icon::after {
    margin-block-start: 0;
    transform: rotate(-45deg);
}

#menu-activate:checked + .menu-box .menu-icon {
    background-color: rgba(0, 0, 0, 0);
}

#menu-activate {
    display: none;
}
/*---------------------------Under menu------------------------*/
.subnav {
    position: fixed; /* Ensure subnav has a position property */
    background-color: #E7C305; /* Change background color */
    display: flex; /* Make subnav a flex container */
    flex-direction: row; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    inline-size: 100%; /* Full width */
    inset-block-start: -70%; /* Adjust this value to position it below the nav */
    padding: 10%; /* Giver lidt ekstra plads til tekst */
    inset-block-end: 80%;/* Adjust this value to position it above the content */
}

.under_menu {
    margin-inline-start: -20%;
    display: flex; /* Make under_menu a flex container */
    flex-direction: row; /* Align items horizontally */
    list-style-type: none; /* Remove list bullets */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    inline-size: 100%; /* Full width */
}

.under_menu li, .under_menu a {
    color: #252753; /* Text color */
    font-family: guyot-sans, sans-serif; /* Font family */
    font-style: italic; /* Italic text */
    font-size: 15px; /* Text size */
    font-weight: 900;
    cursor: pointer; /* Pointer cursor */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    margin: 0 10px; /* Add some margin between items */
    margin-block-start: 610px;/* Adjust this value to position it above the content */
}

/*---------------------------Footer---------------------------*/
footer {/*Footer*/
	display: flex;
	position: relative;
	flex-direction: row;
    justify-content: space-between;
	align-items: center;
	inset-block-end: 0;
	block-size: 60px;
	inline-size: 100%;
	background-color: #252753;
	inset-block-end: 0;
}

footer pfooter{
	font-size: 15px;
	margin-inline-start: 20px;
	text-align: start;
	color: #E7C305;
	padding: 15px;
}

@media screen and (max-width: 700px) { /*Når menuen kommer under 700px*/
    .menu-box {
        display: flex;
    }

    .menu {
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
        margin-block-start: 100px;
        background-color:rgba(37,39,83,0.84);
        flex-direction: column;
        inline-size: 30%;
        justify-content: center;
        align-items: center;
    }

    #menu-activate ~ .menu li {
        block-size: 0;
        margin: 0;
        padding: 0;
        transition: height 1s;
		display: none;
    }

    #menu-activate:checked ~ .menu li {
        block-size: 50px;
        padding: 10px;
        transition: height 1s;
		display: block;
    }
	
	footer,.subnav {/*Footer*/
	display:none;
	}
}