@charset "utf-8";
/* CSS Document */

a {
	margin-left: 3.5%;
} 

h1 {
	Padding-left: 5%;
	Font-weight: bold;
	font-size: 50px
}

hr { /*Under linge deler*/
	margin-left: 3.5%;
	margin-right: 4.5%;
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
}

.grid{
	margin-left: 3.5%;
	margin-right: 4.5%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 100% repeat(2, 360);
	grid-auto-flow: row dense;
	gap: 5px 5px;
}

.grid p {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    display: flex;
	align-items: flex-start;
}

.grid iframe{
	align-content: center;
	width:"100%";
	height:auto;
	object-fit: cover;
}

