@charset "utf-8";
/* CSS Document */

*{
	justify-content: center; 
	align-items: center;
}

h1 { /*Overskrift*/
	display: flex;
	position: sticky; 
	color: #E7C305;
	text-align: center; 
    justify-content: center;
    font-size: 40px;
	z-index: 500;
}
p {/*Under-Overskrift*/
	display: flex;
    position: sticky;
    color: #E7C305;
	text-align: center; 
    justify-content: center;
	font-size: 26px;
	z-index: 500;
}