@charset "utf-8";
/* CSS Document */

b, b1,.grid-container {
margin-inline-start: 5%;
margin-inline-end: 5%;
} 

h1 {
padding-inline-start: 5%;
Font-weight: bold;
font-size: 40px;
font-family: guyot-sans, sans-serif;
font-style: normal;
}

hr { /*Under linge deler*/
margin-inline-start: 3.5%;
margin-inline-end: 4.5%;
block-size:2px;
border-width:0;
color:gray;
background-color:gray;
}


/* --- Videos --- */
.Card-video-Gallery {
    margin-inline-start: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 20px; /* space between cards, adjust as needed */
    inline-size: 95%;/* Full width */
}

.Card-Video {
    max-inline-size: 510px; /* Limit width */
    background: rgba(167, 11, 11, 0.758);
    padding: .4em;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(56, 56, 56, 0.5);
  /* Skyggeeffekt */
}

.card-games.special-bg {
    background: rgba(12, 76, 34, 0.869); /* Example: DodgerBlue background */
}

.Card-Video .card-video {
    display: flex;/* Center the video */
    justify-content: center;/* Center the video */
    align-items: center;/* Center the video */
    inline-size: 100%;/* Full width */
    block-size: 150%;/* Full height */
    margin-block-start: 2%;
}

.Card-Video iframe {
    display: block;
    inline-size: 100%;
    max-inline-size: 500px;
    block-size: 280px;
}

.Card-Video .category {
    font-size: 0.7em;
    font-weight: 600;
    padding: 10px 7px 0;
    align-items: center;
}

.Card-Video .heading {
    font-size: 25px;
    font-weight: bold;
    color: rgb(232, 228, 228);
    padding: 7px;
    margin-block-end: 2%;
}

.Card-Video .author {
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
    padding-block-start: 20px;
}

/* --- Games --- */
.Card-Gallery {
    margin-inline-start: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card-games {
    inline-size: 280px;
    background: rgba(2, 3, 25, 0.869);
    padding: .4em;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(56, 56, 56, 0.5);
    margin: 0; /* Add this line */
}

.card-games .card-image {
    max-inline-size: 180px;
    max-block-size: 180px;
    overflow: hidden;
    border-radius: 6px;
    align-items: center;
    margin: 0 auto; /* Center the card-image horizontally */
}

.card-games .card-image img {
    display: block;
    margin: 0 auto;
    inline-size: 100%;
    block-size: auto;
}

.card-games .card-video {
    inline-size: 100%;
    block-size: auto;
    display: block;
    margin-block-start: 2%;
    margin-inline-start: 2%;
}

.card-games .category {
    font-size: 0.7em;
    font-weight: 600;
    padding: 10px 7px 0;
    align-items: center;
}

.card-games .category button {
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: rgb(255, 30, 30);
    color: rgb(0, 0, 0);
    border-radius: 4px;
    align-items: center;
}

.card-games .category button a{
    font-size: 17px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

.card-games .category button:hover {
    background: rgb(35, 36, 0);
    background: linear-gradient(90deg, rgb(255, 30, 30) 0%, rgb(255, 0, 0) 100%);
}

.card-games .category button:active {
    transform: translate(0em, 0.2em);
}

.card-games .heading {
    font-weight: 600;
    color: rgb(232, 228, 228);
    padding: 7px;
    margin-block-end: 2%;
}

.card-games .author {
    color: rgb(218, 218, 218);
    font-weight: 400;
    font-size: 12px;
    padding-block-start: 20px;
}