@charset "utf-8";
/* CSS Document */

*{
	justify-content: center; 
	align-items: center;
}

h1 { /*Overskrift*/
	display: flex;
	position: sticky; 
	color: #E7C305;
	text-align: center; 
    justify-content: center;
	font-family: guyot-sans, sans-serif;
	font-weight: 900;
	font-style: normal;
    font-size: 50px;
	z-index: 500;
}
p {/*Under-Overskrift*/
	display: flex;
    position: sticky;
    color: #E7C305;
	text-align: center; 
    justify-content: center;
	font-family: swing-king, sans-serif;
	font-size: 20px;
	z-index: 500;
}