@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0; 
}

.menu-bar {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    background-color:#113113; 
    color: white; 
    padding: 10px; 
}

.menu {
    display: flex; 
    list-style-type: none; 
    background-color: #113113; 
}

li {
    padding: 20px; 
}

.menu-box {
    height: 100%; 
    width: 40px;
}

.menu-icon, .menu-icon::before, .menu-icon::after {
    display: block; 
    background-color: white;
    height: 4px; 
    width: 30px; 
    transistion: transform 3s; 
    border-radius: 2px; 
    position: absolute;
}

.menu-icon::before {
    content: ""; 
	margin-top: -8px;
}

.menu-icon::after {
    content: ""; 
	margin-top: 8px;
}

#menu-activate:checked + .menu-box .menu-icon::before {
	margin-top: 0px; 
	transform: rotate(45deg); 
}

#menu-activate:checked + .menu-box .menu-icon {
	background: rgba(255, 255, 255, 0);
}

#menu-activate:checked + .menu-box .menu-icon::after {
	margin-top: 0px; 
	transform: rotate(-45deg);  
}

#menu-activate {
	display: none; 
}
.menu-box {
    display: none; }



img {
    height: 50px; 
}

    
    @media screen and (max-width: 700px)  {
        .menu-box {
            display: flex; 
        }
        
        .menu {
            position: absolute;
            top: 0; 
            left: 0; 
            margin-top: 80px; 
            flex-direction: column; 
            width: 100%; 
            justify-content: center; 
            align-items: center; 
        }
        
        #menu-activate ~ .menu li {
		height: 0; 
		margin: 0; 
		padding: 0; 
		border: 0; 
		transition: height 400ms; 
	}
        #menu-activate:checked ~ .menu li {
		border: 1px solid #333; 
		height: 25px; 
		padding: 10px; 
		transition: height 400ms; 
	}
        .menu > li {
		display: flex; 
		justify-content: center; 
		margin: 0; 
		padding: 10px 0; 
		width: 100%; 
		color: white; 
		background: #222; 
	}



    }